body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    color: #000000;
    text-align: center;
    border-bottom: 2px solid #00ccff;
    padding-bottom: 10px;
}

h2 {
    color: #00c3ff;
    margin-top: 20px;
}

img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    background-color: rgba(155, 155, 155, 0.712);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(228, 227, 227, 0.767);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(228, 227, 227, 0.767);
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
